head{
font-family: 'Segoe UI';
font-size: 50;
color: #000000;
color: #FFFFFF;
color: #707070;
color: #BF7631;
max-width: 2000px;
background-color: #707070 
}



ul {
  display: flex;
  justify-content:space-between;
  align-items:flex-end;
  list-style-type: none;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: #FFFFFF;
}

li {
  float: center;
}

li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;
  text-align:end;
  padding: 14px 16px;
  text-decoration: none;
  max-width: 1000px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #b1b1b1;
}

.nav{
  display:flex;
  justify-content: left;
  align-items: flex-end;
}

.cara{
  display:flex;
  align-self:center;
  justify-self: center;
  align-content: center;
  
}

.logo{
  display:flex;
  align-self: center;
  height: 40px;
  width: 40px;
}


.search-bar{
  display:flex;
  align-content:center;
  justify-content:right;
  height: 3px;
  width: 200px;
  border: solid 2px black;

}

.cart{
  color:#000000;
  display: flex;
  align-self:flex-end;
  justify-self: flex-end;
  
}


.button {
  justify-content: space-around ;
  background-color:white;
  border: 1px solid black;
  color: black;
  justify-content: right;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 25px;
  cursor: pointer;
}


.button-1 {
  background-color: white; 
  color: black; 
  border: 2px solid black;
  
}


.button-2 {
  border: 2px solid black;
  outline: black solid 2px;
  margin: auto;  
  padding: 20px;
  width: 500px;
  height: 200px;
  text-align: center;
}

.button-3 {
  border: 2px solid black;
  outline: black solid 2px;
  width: 500px;
  height: 400px;
  text-align: center;
  padding:20px;
}


.container{
  display:grid;
  max-width: 1000px;
  margin-inline: auto;
  padding-inline: 2rem;
  
 }
 

.products-grid {
  max-width: 1000px;
  display: inline-grid;
  grid-template-columns: 400px 400px 400px;
  gap: 3%;
  float: center;

}

.about-grid{
  max-width: 1000px;
  display: inline-grid;
  grid-template-columns:50% 50%;
  gap: 5%;
  float: center;
}

 .text-box-1{
  display: grid;
  justify-content: flex-start;
  align-content: flex-end;
 } 
 
.text-box-2{
  display: inline-grid;
  grid-template-columns: 60% 40%;
  gap: 5%;
  align-content:flex-end ;
}




.card-header{
  display: inline-grid;
  grid-template-columns: auto auto;
  margin-inline-end:auto;
  justify-items:auto;
  gap: 5rem;
  
}

.hero-img{
  background-color: #707070;
  background-size: 100%;
  background-image: url("Assets/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg");
  
  
}

.hero-text-1{
  display:flex ;
  
  justify-content:left;
  align-self: flex-end;
  color: white;
  font-size: 30px;
  margin-top: 30px;
}

.hero-text-2{
  display: flex;
  
  justify-content:right;
  align-self:flex-end ;
  color: white;
  font-size: 30px;
  margin-right: 30px;

}

.card-footer{
  display: inline-grid;
  grid-template-columns: auto auto;
  margin-inline-end:auto;
  justify-items: stretch;
  gap: 5rem;
}




.large-plant{
  max-width:100% ;
  object-fit:contain;
  aspect-ratio: 1/1;
}

.small-plant{
  max-width: 100%;
  object-fit:contain;
  

}

.MUNDO-BOWLS{
  aspect-ratio: 1/1;
  object-fit: contain;
  max-width: 100%;

}

.NATUREZA-VASE{
  aspect-ratio: 1/1;
  object-fit: contain;
  max-width: 100%;  
}

.FEIRA-BOWLS{
  aspect-ratio: 1/1;
  object-fit: contain;
  max-width: 100%;
  
}

.NATUREZA-POT{
  aspect-ratio: 1/1;
  object-fit: contain;
  max-width: 100%;
  
  
}

.PEDRA-VASE{
  aspect-ratio: 1/1;
  object-fit: contain;
  max-width: 100%;
  
}

.VIAJA-POTS{
  aspect-ratio: 1/1;
  object-fit: contain;
  max-width: 100%;
 
  
}

.SERVIÇO-PLATES{
  aspect-ratio: 1/1;
  object-fit: contain;
  max-width: 100%;
 
 
  
}

.CAMPEÃO-VASE{
  aspect-ratio: 1/1;
  object-fit: contain;
  max-width: 100%;
  
}

.TROCA-BOWLS{
  aspect-ratio: 1/1;
  object-fit: contain;
  max-width: 100%;
  
}

.contact-grid{
  width:100%;
  display: flex;
  justify-content: center;
  justify-items: stretch;
  
}

.footer-grid{
  background-color: #BF7631; 
  margin-inline-end:auto;
  display:inline-grid;
  width:100%;
  grid-template-columns: auto auto auto auto auto;
  list-style-type: none;
 
}

.box-1 {
  display:inline-grid;
  border: 2px solid black;
  outline: black solid 10;
  margin: auto; 
  width:400px; 
  height:50px;
  justify-content: center;
 align-content:space-around;
}

.box-2 {
  display:inline-grid;
  border: 2px solid black;
  outline: black solid 10;
  margin: auto; 
  width:400px; 
  height: 100px;
  justify-content: center;
  align-content:space-around;
}

.send-button {
  display:inline-grid;
  background-color: #BF7631; 
  color: white; 
  border: 2px solid #BF7631;
  justify-content:center;
  align-content: center;
  align-self: center;
  text-decoration: none;
  font-size: 16px;
  height: 10px;
  width:50px;
  padding: 5px;
  cursor: pointer;
}

.cara-2{
  display:inline-grid;
  width:100%;
  align-self:center;
  justify-self: center;
  grid-template-columns: auto auto auto;
  z-index: 10;
}


.white-logo{
  height: 60px;
  width: 60px;
}


.Youtube{
  color:white;

}

.Facebook{
  color:white;

}

.Twitter{
  color:white;

}

.Instagram{
  color:white;

}

footer{
  margin-top: 5%;
  padding-top: 10%;
  

}

.end{
  display:inline-grid;
  grid-template-columns: auto auto auto;
  
  width:100%;
  
}
.color-wrap{
  background-color: #BF7631;
}

