head{
font-family: 'Segoe UI';
font-size: 50;
color: #000000;
color: #FFFFFF;
color: #707070;
color: #BF7631;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFFFFF;
}

li {
  float: left;
}

li a {
  display: block;
  color: #000000;
  text-align:end;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #FEFEFE;
}

.cara{
  display:flex;
  align-self:flex-end;
  justify-self: right;
  
}

.logo{
  height: 40px;
  width: 40px;
}

.search-bar{
  color:#000000;
  display:flex;
  align-self:flex-end;
  justify-content:right ;
  height: 2px;
  width: 175px;
  border: solid 2px black;

}

.cart{
  color:#000000;
  flex-wrap:wrap;
  display: flex;
  align-self:flex-end;
  justify-self: right;
  
}

.card-header{
  display:flex;
  align-content: normal;

}


.container{
  displa;
  flex:auto ;
  position:static;
  align-items:center;
  justify-content:space-between;
  flex-direction: row;
  gap: 1 rem;

}


.text-box{
  width:400px;
  padding:10px;
  text-align:left;


}

.button {
  justify-content: space-around ;
  background-color:white;
  border: 1px solid black;
  color: black;
  justify-content: right;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 25px;
  cursor: pointer;
}


.button-1 {
  background-color: white; 
  color: black; 
  border: 2px solid black;
  
}
.flex-container{
  flex-direction: row;
  flex-wrap: wrap;
  display:block;
  align-content:flex-end;
  text-align: justify;
  justify-content: center;
  
}

.large-plant{
  width:50px;
  height:auto;
  
}

.small-plant{
  width:25px;
  height:auto;

}

.card{
  height: 50px;
  width: 200px;
  flex-direction: row;
  flex-wrap: wrap;
  display:grid;
  align-content: center;
  text-align: justify;
  justify-content: center;
  border:3px solid hotpink;
}
.car-img{
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  display:block;
}
.card-contents{
  display: grid;
}

.MUNDO-BOWLS{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  

}

.NATUREZA-VASE{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
  

}

.FEIRA-BOWLS{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
  
}

.NATUREZA-POT{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
  
}

.PEDRA-VASE{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
  
}

.VIAJA-POTS{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
 
  
}

.SERVIÇO-PLATES{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
 
  
}

.CAMPEÃO-VASE{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
  
}

.TROCA-BOWLS{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
  
}

.product-grid{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;

}




